/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */
@media (width >= 768px) {
  :root {
    --padding: 20px;
  }
}

.page {
  /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
  font-family: var(--font-primary, monospace);
  font-size: var(--text-size-normal, 1.125rem);
  background-color: var(--color-primary, #000028);
  background-image: var(
    --image-background,
    url("../images/cover-image-dark.png")
  );
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.page > *:not(:first-child) {
  margin-block-start: 40px;
  -webkit-margin-before: 40px;
}

@media (width >= 768px) {
  .page > *:not(:first-child) {
    margin-block-start: 60px;
    -webkit-margin-before: 60px;
  }
}

.header {
  position: relative;
  display: -ms-grid;
  display: grid;
  grid-auto-rows: 1fr -webkit-min-content 1fr;
  grid-auto-rows: 1fr min-content 1fr;
  align-items: center;
  padding: var(--padding, 10px);
  -webkit-box-align: center;
  -ms-flex-align: center;
  block-size: min(100vb);
}

@media (width >= 1024px) {
  .header {
    align-items: start;
    -webkit-box-align: start;
    -ms-flex-align: start;
  }
}

.decorated-zone {
  position: relative;
}

.decorated-zone::before,
.decorated-zone::after {
  --border: 1px solid var(--color-decoration, #ff0070);
  content: "";
  position: absolute;
  border-inline-end: var(--border);
  border-block-start: var(--border);
  -webkit-border-end: var(--border);
  -webkit-border-before: var(--border);
  inset-inline-end: var(--padding, 10px);
  inset-block-start: var(--padding, 10px);
  inline-size: 25px;
  block-size: 25px;
}

.decorated-zone::after {
  inset: unset;
  -webkit-transform: scaleX(-1) scaleY(-1);
  -ms-transform: scaleX(-1) scaleY(-1);
  transform: scaleX(-1) scaleY(-1);
  inset-inline-start: var(--padding, 10px);
  inset-block-end: var(--padding, 10px);
}

.decorated-zone__details {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  gap: 10px;
  color: var(--color-decoration, #ff0070);
  text-transform: uppercase;
  -webkit-box-align: center;
  -ms-flex-align: center;
  inset-inline-end: calc(var(--padding, 10px) + 9px);
  inset-block-start: var(--padding, 10px);
}

.decorated-zone__details::after {
  content: "";
  position: relative;
  display: inline-block;
  border-radius: 50%;
  -webkit-box-shadow: 0px 0px 4px var(--color-decoration, #ff0070);
  box-shadow: 0px 0px 4px var(--color-decoration, #ff0070);
  background-color: var(--color-decoration, #ff0070);
  block-size: 9px;
  inline-size: 9px;
}

@media (width >= 1024px) {
  .header__theme-menu {
    justify-self: center;
    -ms-grid-column-align: center;
  }
}

.header__theme-menu-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  align-items: end;
  gap: 10px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-box-align: end;
  -ms-flex-align: end;
}

@media (width >= 1024px) {
  .header__theme-menu-list {
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
  }
}

.header__theme-menu-button {
  border: 1px solid transparent; /* text won't move when other "border" values will apply */
  padding: 0 13px;
  color: var(--color-decoration, #ff0070);
  font-family: var(--font-primary, monospace);
  font-weight: var(--weight-normal, 400);
  font-size: var(--text-size-normal, 1.125rem);
  font-style: normal;
  line-height: 1.125rem; /* 100% */
  text-transform: lowercase;
  background-color: transparent;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  block-size: 26px;
}

.header__theme-menu-button:hover {
  border: 1px solid var(--color-hover, #ff007066);
}

.header__theme-menu-button:focus-visible {
  border-block-end: 1px solid var(--color-decoration, #ff0070);
  outline: none;
  -webkit-border-after: 1px solid var(--color-decoration, #ff0070);
}

.header__theme-menu-button_active {
  border: 1px solid var(--color-decoration, #ff0070);
  pointer-events: none;
}

.header__title {
  color: var(--color-title, #db00ff);
  font-weight: var(--weight-bold, 700);
  font-size: var(
    --text-size-title-mobile,
    clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem)
  );
  line-height: 5.98125rem; /* 95.7px */
  text-transform: lowercase;
  text-shadow: var(
    --shadow-title-mobile,
    4px 4px 0px var(--color-accent, #ff0070)
  );
}

@media (width >= 768px) {
  .header__title {
    font-size: var(
      --text-size-title,
      clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem)
    );
    -webkit-transform: translateX(calc(0px - var(--padding, 10px)));
    -ms-transform: translateX(calc(0px - var(--padding, 10px)));
    transform: translateX(calc(0px - var(--padding, 10px)));
  }
}

@media (width >= 1024px) {
  .header__title {
    text-shadow: var(--shadow-title);
  }
}

.title-decor {
  width: 100%;
  color: var(--color-subtitle, #000028);
  font-weight: var(--weight-bold, 700);
  font-size: var(--text-size-normal, 1.125rem);
  line-height: var(--line-height-lg, 1.4625rem);
  background-color: var(--color-accent, #ff0070);
}

@media (width >= 768px) {
  .header__tagline {
    width: 50%;
    margin-inline-start: auto;
    -webkit-margin-start: auto;
  }
}

@media (width >= 1024px) {
  .header__tagline {
    align-self: end;
    margin-block-end: calc(134px - var(--padding, 10px));
    -ms-flex-item-align: end;
    -ms-grid-row-align: end;
    -webkit-margin-after: calc(134px - var(--padding, 10px));
  }
}

.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 50px;
  padding: 0 var(--padding, 10px);
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
}

@media (width >= 768px) {
  .content {
    gap: 80px;
  }
}

.section {
  display: -ms-grid;
  display: grid;
  gap: 20px;
}

@media (width >= 768px) {
  .section__stretched {
    grid-auto-columns: 1fr 2fr;
    grid-auto-flow: column;
  }
}

@media (width >= 1024px) {
  .section__stretched {
    grid-auto-columns: 32% 1fr; /* magic */
  }
}

.question {
  color: var(--color-decoration, #ff0070);
  font-weight: var(--weight-bold, 700);
  font-size: var(--text-size-normal, 1.125rem);
  line-height: var(--line-height-lg, 1.4625rem);
}

.card__list {
  display: -ms-grid;
  display: grid;
  gap: 20px;
}

@media (width >= 1024px) {
  .section__compact .card__list {
    grid-auto-columns: 1fr;
    grid-auto-flow: column;
  }
}

.card__list-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 10px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
}

.card__content {
  color: var(--color-secondary);
  line-height: var(--line-height-lg, 1.4625rem);
}

.link {
  text-decoration: none;
  text-shadow: 2px 1px 0 var(--color-accent, #ff0070);
}

.link:hover {
  border-block-end: 1px solid var(--color-secondary, #f1b2ce);
  -webkit-border-after: 1px solid var(--color-secondary, #f1b2ce);
}

.link:focus-visible {
  border: 1px solid var(--color-secondary, #f1b2ce);
  outline: none;
}

@media (width >= 768px) {
  .section__compact {
    grid-template-columns: 1fr 2fr;
    grid-auto-rows: -webkit-min-content auto;
    grid-auto-rows: min-content auto;
    -ms-grid-columns: 1fr 2fr;
  }
  .section__compact .card__list {
    grid-column: span 2;
    -ms-grid-row: 2;
    grid-row-start: 2;
    -ms-grid-column-span: 2;
  }
}

.normal-weight {
  font-weight: var(--weight-normal, 400);
}

.section__gallery {
  gap: 10px;
}

@media (width >= 768px) {
  .section__gallery {
    gap: 20px;
  }
}

.gallery {
  display: -ms-grid;
  display: grid;
  gap: 10px;
}

@media (width >= 768px) {
  .gallery {
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    -ms-grid-columns: 1fr 20px 1fr 20px 1fr;
  }

  .gallery .title-decor {
    grid-column: 1 / -1;
  }
}

.section__image {
  inline-size: 100%;
}

@media (width >= 768px) {
  .section__image {
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: center;
    object-position: center;
    block-size: 100%;
  }

  .image__sunset {
    grid-column: span 2;
    -ms-grid-column-span: 2;
  }

  .image__ice-cream {
    grid-row: span 2;
    -ms-grid-row-span: 2;
  }

  .image__tape {
    grid-row: span 2;
    -ms-grid-row-span: 2;
  }

  .image__street {
    grid-column: span 2;
    -ms-grid-column-span: 2;
  }
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  block-size: min(100vb);
}

.footer__title {
  color: var(--color-title, #db00ff);
  font-size: var(
    --text-size-title-mobile,
    clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem)
  );
  text-transform: lowercase;
  text-shadow: var(--shadow-footer-mobile, 2px 2px 0px #ff0070);
}

@media (width >= 1024px) {
  .footer__title {
    font-size: var(
      --text-size-title,
      clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem)
    );
    text-shadow: var(--shadow-footer, 2px 2px 0px #ff0070);
  }
}
