/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
  font-family: var(--primary-font);
  font-size: var(--text-size-normal);
  background-image: var(--header-bg-img);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.header {
  padding: 10px;
  block-size: 100vh;
  display: grid;
  grid-auto-rows: min-content 1fr 1fr 1fr min-content;
}

@media (width > 375px) {
  .header {
    padding: 20px;
    grid-template-rows: min-content 1fr min-content 1fr;
    /* grid-template-columns: auto auto 1fr auto; */
  }
}

.decorated-zone {
}

.decoration {
  --border: 1px solid var(--button-color);

  margin-inline-start: auto;
  border-inline-end: var(--border);
  border-block-start: var(--border);
  inline-size: 25px;
  block-size: 25px;
}

.decoration__details {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.decoration__details::before {
  content: "";
  display: block;
  border-radius: 50%;
  box-shadow: 0px 0px 4px var(--accent-color);
  background-color: var(--accent-color);
  inline-size: 9px;
  block-size: 9px;
}

.decoration__details::after {
  content: "Rec";
  position: absolute;
  color: var(--accent-color);
  text-transform: uppercase;
  inset-inline-end: 28px;
}

.header__theme-menu-list {
  display: grid;
  justify-content: end;
  gap: 10px;
  margin-block-start: 40px;
}

.header__theme-menu-item {
}

.header__theme-menu-button {
  border: 1px solid transparent; /* text won't move when other "border" values will apply */
  padding: 0 13px;
  font-family: var(--primary-font);
  font-weight: var(--normal-weight);
  font-size: var(--text-size-normal);
  font-style: normal;
  line-height: 1.125rem; /* 100% */
  text-transform: lowercase;
  background-color: transparent;
  cursor: pointer;
  appearance: none;
  block-size: 26px;
  color: var(--button-color);
}

.header__theme-menu-button:hover {
  border: 1px solid var(--hover-color);
}

.header__theme-menu-button:focus-visible {
  outline: none;
  border-block-end: 1px solid var(--button-color);
}

.header__theme-menu-button_active {
  pointer-events: none;
  border: 1px solid var(--button-color);
}

.header__title {
  margin-block-start: 65px;
  color: var(--title-color);
  font-weight: var(--bold-weight);
  font-size: var(--text-size-title);
  line-height: 5.98125rem; /* 95.7px */
  text-transform: lowercase;
  text-shadow: 4px 4px 0 var(--accent-color);
}

.header__tagline {
  margin-block-start: 55px;
  margin-block-end: 31px;
}

.title-decor {
  width: 100%;
  color: var(--secondary-color);
  font-weight: var(--bold-weight);
  font-size: var(--text-size-normal);
  line-height: var(--accent-line-height);
  background-color: var(--accent-color);
}

.reflected {
  margin: 0;
  transform: scaleX(-1) scaleY(-1);
}

.content {
  display: flex;
  flex-direction: column;
  gap: 50px;
  padding: 40px 10px 40px;
}

.section {
  display: grid;
  gap: 20px;
}

.section__stretched {
  /* grid-template-rows: repeat(auto-fit, ); */
}

.question {
  color: var(--accent-color);
  font-weight: var(--bold-weight);
  font-size: var(--text-size-normal);
  line-height: var(--accent-line-height);
}

.card__list {
  display: grid;
  gap: 20px;
}

.card__list-item {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.card__content {
  color: var(--text-color);
  line-height: 1.4625rem;
}

.link {
  text-decoration: none;
  text-shadow: 2px 1px 0 var(--accent-color);
}

.link:hover {
  border-block-end: 1px solid var(--text-color);
}

.link:focus-visible {
  outline: none;
  border: 1px solid var(--text-color);
}

.section__compact {
}

.normal-weight {
  font-weight: var(--normal-weight);
}

.section__pictures {
  grid-auto-flow: dense;
  gap: 10px;
}

.section__picture {
  inline-size: 100%;
}

.footer {
  display: grid;
  grid-auto-rows: min-content 1fr;
  padding: 10px;
  block-size: 100vh;
}

.footer__title {
  justify-self: center;
  align-self: center;
  color: var(--title-color);
  font-size: var(--text-size-title);
  text-transform: lowercase;
  text-shadow: 2px 2px 0px var(--accent-color);
}
