/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
  font-family: var(--primary-font);
  font-size: var(--text-size-normal);
  background-color: var(--primary-color);

  /* TODO DELETE */
  max-inline-size: 375px;
}

.header {
  background-image: var(--header-bg-img);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.decorated-zone {
  position: relative;
  padding: 10px;
}

.header__decoration {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  border-top: var(--accent-border);
  border-right: var(--accent-border);
  inline-size: 25px;
  block-size: 25px;
}

.header__decoration::after {
  content: "";
  border-radius: 50%;
  box-shadow: 0px 0px 4px var(--accent-color);
  background-color: var(--accent-color);
  inline-size: 9px;
  block-size: 9px;
}

.header__decoration::before {
  content: "Rec";
  text-transform: uppercase;
  position: absolute;
  inset-inline-end: 38px;
  color: var(--accent-color);
}

.header__theme-menu-list {
  margin-top: 40px;
  display: grid;
  justify-content: end;
  gap: 10px;
}

.header__theme-menu-item {
}

.header__theme-menu-button {
  border: none;
  padding: 0 13px;
  color: var(--accent-color);
  font-family: var(--primary-font);
  font-weight: var(--normal-weight);
  font-size: var(--text-size-normal);
  font-style: normal;
  line-height: 18px; /* 100% */
  text-transform: lowercase;
  background-color: transparent;
  appearance: none;
  block-size: 26px;
}

.header__theme-menu-button:disabled {
  outline: 1px solid var(--accent-color);
}

.header__logo {
  margin-top: 65px;
  text-transform: lowercase;
  font-size: var(--text-size-title);
  font-weight: var(--accent-weight);
  text-shadow: 4px 4px 0 var(--accent-color);
  color: var(--title-color);
  line-height: 82.5%; /* 95.7px */
}

.header__tagline {
  margin-top: 55px;
}

.title-decor {
  background-color: var(--accent-color);
  width: 100%;
  font-weight: var(--accent-weight);
  color: var(--primary-color);
  line-height: var(--accent-line-height);
  font-size: var(--text-size-normal);
}

.header__empty-decoration {
  margin-top: 31px;
  inline-size: 25px;
  block-size: 25px;
  border-left: var(--accent-border);
  border-bottom: var(--accent-border);
}

.content {
  padding: 40px 10px 0;
  display: flex;
  gap: 50px;
  flex-direction: column;
}

.section {
  display: grid;
  gap: 20px;
}

.section__stretched {
  /* grid-template-rows: repeat(auto-fit, ); */
}

.question {
  color: var(--accent-color);
  font-weight: var(--accent-weight);
  font-size: var(--text-size-normal);
  line-height: var(--accent-line-height);
}

.card__list {
  display: grid;
  gap: 20px;
}

.card__list-item {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.card__content {
  color: var(--secondary-color);
}

.section__compact {
}

.normal-weight {
  font-weight: var(--normal-weight);
}

.section__pictures {
  gap: 10px;
}
