/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/

:root {
  --primary-color: #000028;
  --secondary-color: #000028;
  --accent-color: #ff0070;
  --title-color: #db00ff;
  --text-color: #f1b2ce;
  --hover-color: #ff007066;
  --decoration-color: #ff0070;
  --header-bg-img: url("../images/cover-image-dark.png");
  --primary-font: "IBM Plex mono", sans-serif;
  --text-size-title: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  --text-size-normal: 1.125rem;
  --normal-weight: 400;
  --bold-weight: 700;
  --accent-line-height: 1.4625rem;
}
